# Rename to .env and source before docker-compose up
ANALYTICS_POSTGRES_PASSWORD=analytics_dev_password
POSTHOG_SECRET_KEY=dev_posthog_secret_change_me
POSTHOG_SITE_URL=http://localhost:8000
UMAMI_APP_SECRET=dev_umami_secret_change_me
